<article class="card">
  <div class:list={"card-heading"}>
    <slot name="card-heading" />
    <slot name="card-subheading" />
    <slot name="card-subsubheading" />
  </div>
  <div class="card-content">
    <slot name="card-content" />
  </div>
</article>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15fr 85fr;
    height: 30rem;
    border: 2px solid var(--primaryColor);
    transition: 0.5s all;
  }

  .card:hover {
    border: 2px solid var(--accentColor);
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-heading {
    padding: 1.2rem;
  }
  .card-content {
    padding: 1.2rem;
  }
</style>
