---
interface Props {
  href: string;
  nonHoverUnderline?: boolean;
}
const { href, nonHoverUnderline = false } = Astro.props;
---

<a href={href} target="_blank"><slot /></a>

<style define:vars={{ nonHoverColor: nonHoverUnderline ? "blue" : "white" }}>
  a {
    text-decoration: none;
  }

  a:visited,
  a:link {
    color: var(--primaryColor);
    transition: all 0.3s;
    border-bottom: 2px solid var(--nonHoverColor);
  }

  a:active,
  a:hover {
    color: var(--darker-color);
    border-bottom: 2px solid var(--accentColor);
    cursor: pointer;
  }
</style>
