---
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="About Me">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe incidunt,
    earum ducimus, natus ratione totam ut vel eum repudiandae voluptatum
    adipisci delectus soluta id impedit? Sit odio quis omnis repellat.
  </p>
</Section>
