---
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="Experience">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ratione
    fugiat maiores perspiciatis doloremque quod saepe libero soluta quasi aut
    sit quidem velit cumque, fugit minus debitis repellendus. Ducimus,
    perspiciatis.
  </p>
</Section>
