---
import Section from "../layouts/Section.astro";
import Card from "../components/Card.astro";
---

<Section sectionTitle="Experience">
  <div class="experience-container">
    <Card>
      <h3 slot="card-heading">Dropbox</h3>
      <h4 slot="card-subheading">Software Engineering Intern</h4>
      <p slot="card-subsubheading">Cleveland, OH | May - August 2024</p>
      <p slot="card-content" class="card-text">
        I improved cost visibility for specific services by developing utilities to parse,
        store usage data, and perform cost attribution. I also developed data pipelines for the migration of the team’s data between datastores.
      </p>
    </Card>
    <Card>
      <h3 slot="card-heading">Philips</h3>
      <h4 slot="card-subheading">Independant Software Consultant</h4>
      <p slot="card-subsubheading">Highland Heights, OH | May, July 2019</p>
      <p class="card-text" slot="card-content">
        I revamped their Perl license server to support packages of licenses,
        and developed instructions for a python module then used by employees.
      </p>
    </Card>
    <Card>
      <h3 slot="card-heading">KarismicMC</h3>
      <h4 slot="card-subheading">Independant Software Consultant</h4>
      <p slot="card-subsubheading">Remote | June - July 2019</p>
      <p slot="card-content" class="card-text">
        I authored a plugin using the Minecraft Spigot API which implemented a
        fully customizable masks feature into the game, where each mask gave
        customizable effects.
      </p>
    </Card>
  </div>
</Section>

<style>
  .experience-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
</style>
