---
import IonIconLink from "../components/IonIconLink.astro";
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="Hello!">
  <header class="headings">
    <h2 class="i-am">I am <strong>Yonatan Ginsburg</strong>.</h2>
    <h3 class="i-enjoy">I enjoy making useful things.</h3>
    <aside class="links">
      <div class="profile-link-icon">
        <IonIconLink ionIconName="logo-github" label="GitHub" href="#" />
      </div>
      <div class="profile-link-icon">
        <IonIconLink ionIconName="logo-linkedin" label="LinkedIn" href="#" />
      </div>
    </aside>
  </header>
</Section>

<style>
  .headings {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    text-align: center;
    margin-top: 6.4rem;
  }

  .i-am,
  .i-enjoy {
    font-weight: var(--font-weight-normal);
  }
  .links {
    margin-top: 2.4rem;
    display: flex;
    gap: 1.2rem;
  }
  .profile-link-icon {
    height: 6.2rem;
    width: 6.2rem;
  }
</style>
