---
import Card from "../components/Card.astro";
import ProjectExternalLinks from "../components/ProjectExternalLinks.astro";
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="Projects">
  <div class="projects-container">
    <Card>
      <h3 slot="card-heading">key-switcheroo</h3>
      <p slot="card-subheading">
        <em>SSH Key Automation for Fleets of Machines</em>
      </p>
      <p slot="card-subsubheading">June - August 2023</p>
      <div slot="card-content">
        <p class="card-text">
          Lead by a team lead at Meta, I worked alongside five of my peers to
          implement an SSH Key Rotation system which stores keys in the cloud. I
          was part of the Software Development team, and focused on writing
          modular code, architechture and design through code reviews. I used
          PyTest for unit, integration and E2E tests. Through collaboration with
          my teammates, I gained exposure to Terraform and Jenkins.
        </p>
        <ProjectExternalLinks
          links={[
            {
              label: "GitHub",
              href: "https://github.com/SSH-key-rotation-AWS/key-switcheroo",
              ionIconName: "logo-github",
            },
            {
              label: "PyPi",
              href: "https://pypi.org/project/key-switcheroo/",
              ionIconName: "logo-python",
            },
          ]}
        />
      </div>
    </Card>
    <Card>
      <h3 slot="card-heading">Data Structures Search Engine</h3>
      <p slot="card-subheading"><em>An In-Memory Search Engine</em></p>
      <p slot="card-subsubheading">January - May 2023</p>
      <div slot="card-content">
        <p class="card-text">
          Over the course of the semester, I implemented various data structures
          such as a B-Tree, Heap and Hashtable to create a search engine that
          manages documents both in-memory and on disk. I utilized important OOP
          principles such as abstraction & polymorphism.
        </p>
        <ProjectExternalLinks
          links={[
            {
              label: "GitHub",
              href: "https://github.com/ygins/DataStructures-search-engine",
              ionIconName: "logo-github",
            },
          ]}
        />
      </div>
    </Card>
    <Card>
      <h3 slot="card-heading">Drum Machine</h3>
      <p slot="card-subheading">
        <em>A Customizable & Responsive Drum Machine</em>
      </p>
      <p slot="card-subsubheading">August - November 2019</p>
      <div slot="card-content">
        <p class="card-text">
          I built a React Drum Machine, using the framework to allow for
          customization of sounds, BPM and number of tracks.
        </p>
        <ProjectExternalLinks
          links={[
            {
              label: "GitHub",
              href: "https://github.com/ygins/drum-machine",
              ionIconName: "logo-github",
            },
          ]}
        />
      </div>
    </Card>
    <Card>
      <h3 slot="card-heading">MultiblockAPI</h3>
      <p slot="card-subheading">
        <em>Creating Multiblock Structures</em>
      </p>
      <p slot="card-subsubheading">August - November 2019</p>
      <div slot="card-content">
        <p class="card-text">
          I used Minecraft's Spigot API to build a Java plugin to allow the
          creation of multiblock structures. The plugin implemented persistent
          file storage to store multiblock data.
        </p>
        <ProjectExternalLinks
          links={[
            {
              label: "GitHub",
              href: "https://github.com/ygins/multiblockapi",
              ionIconName: "logo-github",
            },
          ]}
        />
      </div>
    </Card>
  </div>
</Section>

<style>
  .projects-container {
    display: grid;
    gap: 1.2rem;
  }
  h3 {
    margin: auto auto;
  }
</style>
