---
import Card from "../components/Card.astro";
import IonIconLink from "../components/IonIconLink.astro";
import ProjectExternalLinks from "../components/ProjectExternalLinks.astro";
import Python from "../icons/Python.astro";
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="Projects">
  <div class="projects-container">
    <Card>
      <div class="python-icon" slot="icon">
        <Python />
      </div>
      <h3 slot="card-heading">key-switcheroo</h3>
      <p slot="card-subheading">
        <em>SSH Key Automation for Fleets of Machines</em>
      </p>
      <p slot="card-subsubheading">June - August 2023</p>
      <div slot="card-content">
        <p>
          Lead by a team lead at Meta, I worked alongside five of my peers to
          implement an SSH Key Rotation system which stores keys in the cloud. I
          was part of the Software Development team, and focused on writing
          modular code, architechture and design through code reviews. I used
          PyTest for unit, integration and E2E tests. Through collaboration with
          my teammates, I gained exposure to Terraform and Jenkins.
        </p>
        <ProjectExternalLinks
          links={[
            {
              label: "GitHub",
              href: "https://github.com/SSH-key-rotation-AWS/key-switcheroo",
              ionIconName: "logo-github",
            },
            {
              label: "PyPi",
              href: "https://pypi.org/project/key-switcheroo/",
              ionIconName: "logo-python",
            },
          ]}
        />
      </div>
    </Card>
  </div>
</Section>

<style>
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .python-icon {
    transform: translateY(1rem);
  }
</style>
