---
import Section from "../layouts/Section.astro";
---

<Section sectionTitle="Projects">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a error
    alias delectus vitae quas harum numquam animi, assumenda excepturi. Et
    voluptatibus odio explicabo dignissimos tempora quod iure voluptate maxime?
  </p>
</Section>
