---
import IconLink from "../components/IconLink.astro";
---

<section class="container headings">
  <header>
    <h1>Hello!</h1>
    <p>I am Yonatan Ginsburg.</p>
    <p>I enjoy making useful things.</p>
  </header>
  <aside class="links">
    <IconLink
      class:list={"profile-link"}
      ionIconName="logo-github"
      label="GitHub"
      href="#"
    />
    <IconLink ionIconName="logo-linkedin" label="LinkedIn" href="#" />
  </aside>
</section>

<style>
  .headings {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header {
    grid-column: 1;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 auto;
  }
  .links {
    grid-column: 2;
    align-self: end;
    justify-self: center;
    display: flex;
    gap: 1.2rem;
  }
</style>
