---
import Palette from "../Palette";
const palette = Palette;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Yonatan Ginsburg | Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style
  is:global
  define:vars={{
    primaryColor: palette.primaryColor,
    darkerColor: palette.darkerColor,
    accentColor: palette.accentColor,
    fontWeightNormal: palette.fontWeightNormal,
    fontWeightStrong: palette.fontWeightStrong,
  }}
>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: var(--fontWeightNormal);
    color: var(--primaryColor);
    /*background-color: #e9f3fd;*/
  }
  h1 {
    font-size: 5.2rem;
    font-weight: var(--fontWeightStrong);
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
</style>
