---
interface Props {
  sectionTitle: string;
}
const { sectionTitle } = Astro.props;
---

<section class="container">
  <header class="heading-container">
    <h1>{sectionTitle}</h1>
  </header>
  <div class="content">
    <slot />
  </div>
</section>

<style>
  .container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3.2rem;
    background-color: white;
  }
  .heading-container {
    position: relative;
  }
  .heading-container::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: var(--accentColor);
    position: absolute;
    left: 0;
  }
  .content {
    margin-bottom: 12.8rem;
    padding: 0 2.4rem 0 2.4rem;
  }
  h1 {
    margin-bottom: 3rem;
    margin-left: 13%;
  }
</style>
